:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --bg-light-1: #99c1f1;
  --bg-light-2: #c0bfbc;
  --bg-light-3: #f8e45c;
  --bg-dark-1: #0a0721;
  --bg-dark-2: #241f31;
  --bg-dark-3: #581919;

  --color-light: #afdfdf;
  --color-dark: #1a1a1a;

  color: light-dark(var(--color-dark), var(--color-light));
  background-attachment: fixed;
  background-image: linear-gradient(
    110deg,
    light-dark(var(--bg-light-1), var(--bg-dark-1)) 0%,
    light-dark(var(--bg-light-2), var(--bg-dark-2)) 50%,
    light-dark(var(--bg-light-3), var(--bg-dark-3)) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100dvh;
}

#root {
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
}

header {
  padding: 1em;
  width: 100%;
  margin-top: 0;
  box-shadow: 0px 5px 10px -5px
    light-dark(rgba(0, 0, 0, 0.5), rgba(250, 250, 250, 0.3));
  margin-bottom: 1em;
  text-align: center;
  display: flex;
}

header nav ul {
  margin-left: 2em;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin: 0 1em;
  text-align: center;
  user-select: none;
}

.header-authed {
  display: flex;
  gap: 1em;
  margin-left: auto;
  align-items: center;
}

.header-authed button {
  font-size: 0.8rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  width: 100%;
  min-width: 30ch;
  /* max-width: 70ch; */
  max-width: 130ch;
  background-color: #fff3;
  border-radius: 1em;
  padding: 0.5em;
}

.sign-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sign-form input {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 0.8rem;
}

.sign-form input:valid {
  background-color: #0f06;
}

.sign-form input:invalid {
  background-color: #f006;
}

.sign-form label {
  display: inline-block;
  text-wrap: nowrap;
  width: 0;
  height: 0;
  overflow-x: hidden;
}

.sign-form button {
  font-size: 1.3rem;
}

.sign-form button:disabled {
  background-color: #fff6;
}

.sign-toggle button {
  background-color: transparent;
}

form {
  width: 100%;
}

.form-wrapper textarea {
  padding: 0.5em;
  font-size: 1.2em;
  width: 100%;
  min-height: 100px;
  resize: vertical;
  margin-bottom: 1em;
  border-radius: 0.5em;
  border: none;
}

.formatted-comment {
  padding: 0.5em;
  font-size: 1.2em;
  width: 100%;
  min-height: 100px;
  margin-bottom: 1em;
  border-radius: 0.5em;
  border: none;
  background-color: #fff4;
  min-height: 4lh;
}

.formatted-code {
  display: inline-block;
  margin: 0.1rem;
  border-radius: 0.5rem;
  background: light-dark(#dadada, #1e1e1e);
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 0.5em;
}

.formatted-code code {
  font-size: 1.2rem;
}

.formatted-code.block {
  background: light-dark(#dadada, #1e1e1e);
}

.formatted-code.inline {
  display: inline-block;
  background: light-dark(#dadada, #1e1e1e);
}

.formatted-code-block pre code {
  display: inline-block;
}

.formatted-code-block pre,
.formatted-code-inline pre {
  padding: 0.5rem;
}

.code-language {
  display: block;
  font-size: 1rem;
  padding: 0.1rem 0.55rem;
  background-color: #fff2;
}

.selection-formatting-btn {
}

.selection-formatting-btn:disabled {
  background-color: #fff3;
}

.selection-formatting-btn.crossed {
  text-decoration: line-through black 3px;
}

code {
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
  line-height: 1.5;
  /* display: block; */
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

a {
  font-weight: 500;
  color: light-dark(#000, #fff);
  text-decoration: inherit;
}

a:hover {
  color: light-dark(var(--bg-dark-2), var(--bg-light-2));
}

h1 {
  font-size: calc(1.7em + 1vw);
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: light-dark(var(--color-light), var(--color-dark));
  background-color: light-dark(var(--color-dark), var(--color-light));
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.editor-wrapper {
  width: 100%;
  /* background-color: #fff; */
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1em;
}

.editor {
  background-color: #fff3;
  height: 170px;
  outline: 1px solid #2229;
  border-radius: 0.5em;
  padding: 0.5em;
  overflow: scroll;
  text-wrap: wrap;
}

.editor-btns {
  /* background-color: green; */
  display: flex;
  justify-content: end;
  gap: 0.5em;
  padding: 0 1em;
  margin-bottom: 0.5em;
}

.editor-btn:first-child {
  /* border: 2px solid red; */
  margin-right: auto;
}

.editor-btn {
  min-width: 35px;
  height: 35px;
  background-color: #0000;
  padding: 0.2em 0.5em;
}

.table-wrapper {
  width: 100%;
  overflow-x: scroll;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1em;
}

.table-wrapper table {
  font-size: calc(1em + 0.3vw);
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper thead {
  text-align: center;
  background-color: #fff6;
}

.table-wrapper th,
td {
  padding: 0.5em;
  text-wrap: nowrap;
}

.table-wrapper table tbody tr {
  scale: 1;
  transition: scale 0.1s;
}

.table-wrapper table tbody tr:hover,
.table-wrapper table tbody tr:focus,
.table-wrapper table tbody tr:target {
  cursor: pointer;
  scale: 1.02;
}

.table-wrapper table tbody tr:nth-child(even) {
  background-color: #fff2;
}

.table-wrapper table tbody tr:nth-child(odd) {
  background-color: #fff4;
}

.table-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline: 2em;
}

.table-numbers-pages {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

.table-numbers-group {
  display: flex;
  gap: 0.5em;
}

.table-controls button {
  font-size: calc(0.8em + 0.6vw);
  size: calc(2 + 9vw);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0 6px;
  font-weight: 500;
  font-family: inherit;
  color: light-dark(fff7, 0007);
  background-color: light-dark(var, #fff3);
  cursor: pointer;
  transition: border-color 0.25s;
}

.table-controls button:disabled {
  background-color: light-dark(#0003, #fff3);
  cursor: not-allowed;
  transition: border-color 0.25s;
}

.comments-list {
  font-size: 1.1em;
  list-style: none;
  max-width: 100%;
}

.comments-list li {
  width: 500px;
  max-width: 100%;
  margin-bottom: 1em;
}

.comment-page-wrapper {
  margin-bottom: 1em;
}

.comment-page {
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
}

.comment-page-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff5;
  padding: 0.5em 1em;
}

.comment-page-body {
  background-color: #fff2;
  padding: 1em;
}

.comment-page-reply-list {
  padding-left: 3em;
}

.comment-page-reply-list ul {
  list-style: none;
}

.comment-block-reply-btns {
  padding: 0.7rem;
  font-size: 1.3rem;
  background-color: transparent;
  color: light-dark(black, linen);
}

.comment-block-image {
  width: 100px;
}

.comment-modal-image {
  width: 100%;
}

.reply-page-wrapper {
  width: 95%;
  max-width: 800px;
}

.comment-wrapper {
  width: 100%;
  background-color: red;
  border: 1px solid #0004;
}

.comment-header {
  background-color: brown;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.comment-user-info {
}

.comment-text-content {
  padding: 1em;
}

.link-to {
  font-size: 1.5rem;
  text-align: center;
}

.link-to a {
  display: inline-block;
  color: light-dark(#225f11, #83f3a8);
  padding: 0.3em;
  border: light-dark(#225f11, #83f3a8) 1px solid;
  border-radius: 0.5em;
  transition: scale 0.02s;
}

.link-to a:focus,
.link-to a:hover {
  scale: 1.1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.modal-content {
  position: relative;
  top: 50%;
  translate: 0 -50%;
  width: 600px;
  max-width: 100%;
  margin: auto;
  padding: 0;
  background-color: var(--bg-dark-2);
  border-radius: 1em;
  border: 1px solid #888;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  animation-duration: 0.2s;
  animation-name: animatetop;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.close {
  color: #434343;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--bg-light-2);
  color: #434343;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: var(--bg-light-3);
  color: #434343;
}

.generate-data-form {
  font-size: 1.2rem;
}

.generate-data-form form {
  width: 100%;
  display: grid;
  grid-template-columns: 50%;
  gap: 0.5em;
}

.generate-data-form form p {
  grid-column: 1 / span 2;
}

.generate-data-form form label {
  display: grid;
  place-items: center end;
}

.generate-data-form form input {
  font-size: 1.2rem;
  padding: 0.3em 0.9em;
  border-style: none;
  box-shadow: 2px 3px 5px #fa54, -4px -4px 10px #fff2;
  border-radius: 1em;
}

.generate-data-form form button {
  position: relative;
  font-size: 1.2rem;
  padding: 0.3rem;
  background-color: transparent;
  overflow: hidden;
  color: light-dark(#93f393, white);
}

.generate-data-form form button::before {
  position: absolute;
  content: "";
  top: -200%;
  left: -200%;
  height: 500%;
  width: 500%;
  z-index: -1;
  background: linear-gradient(
    transparent,
    light-dark(var(--bg-dark-1), var(--bg-light-3))
  );
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}
